@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';
  & {
    .xs-none {
      display: block;
    }
    .head {
      padding-bottom: 0;
      padding-top: 170px;
      background: linear-gradient(-45deg, #ff7f00 0%, #ffbf00 100%);
    }
    .btn-tablet {
      display: inline-block;
      float: right;
      margin-right: 22px;
      margin-top: 4px;
    }

    .head-title {
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      max-width: 580px;
    }

    .head-info {
      max-width: 355px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 21px;
    }

    .menu {
      li {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 40px;
        &.lg-none {
          display: block;
        }
        a {
          font-size: 20px;
          font-weight: 700;
          line-height: 40px;
        }
      }
    }

    .for_whom-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 50px;
    }
    .for_whom {
      padding: 80px 0;
    }

    .for_whom-info {
      font-size: 20px;
      font-weight: 400;
      line-height: 50px;
    }

    .for_whom-box {
      text-align: left;
      margin-bottom: 50px;
    }
    .worth {
      padding: 80px 0;
      .al-center {
        .col5 {
          float: right;
          width: 50%;
        }
        .col7 {
          float: left;
          width: 50%;
        }
      }
    }

    .worth-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      max-width: 100%;
    }

    .worth-box {
      text-align: left;
    }

    .row .row [class*=col-] {
      padding: 0;
    }

    .row .row {
      margin: 0;
    }

    .worth-box {
      br {
        display: block;
      }
      h4 {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
      }
    }

    .img-width img,
    .worth img.width155 {
      width: 155%;
    }
    .pull-left {
      float: left
    }
    .worth img.width120 {
      width: 120%;
      float: right;
    }

    .client {
      margin-top: 62px;
      .worth-box {
        text-align: center;
        h4 {
          font-size: 30px;
          font-weight: 400;
          line-height: 40px;
          max-width: 400px;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          max-width: 365px;
          margin-left: auto;
          margin-right: auto;

        }
      }

    }
    .worth-img {
      &:before {
        display: block;
      }
    }
    .worth-img.cilcle_small img {
      margin: 0;
      margin-left: -120px;
      width: 556px;
    }
    .client-list {
      width: 100%;
      text-align: center;

      li {
        margin: 5px 0;
        color: #757575;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        width: 222px;
        height: 60px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
        text-align: center;
        line-height: 4;
        display: inline-block;
        margin-bottom: 40px;
        vertical-align: top;
        span {
          font-size: 15px;
          font-weight: 400;
          line-height: 14px;
        }
        &:first-child,
        &:last-child {
          max-width: 100%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          max-width: 100%;
          margin-bottom: 40px;
        }
        &:nth-child(4),
        &:nth-child(6) {
          max-width: 100%;
          margin-bottom: 40px;
        }
        &:nth-child(5) {
          width: 120px;
          height: 120px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
          border: 5px solid #ffffff;
          background-image: linear-gradient(-45deg, #ff4800 0%, #ffbf00 100%);
          border-radius: 50%;
          margin: -33px 30px;
          position: relative;
          color: #ffffff;
          font-family: "Proxima Nova Bold";
          font-size: 20px;
          font-weight: 700;
          line-height: 5.5;
          text-transform: uppercase;
          span {
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        &:nth-child(7) {
          margin-bottom: 40px;
          max-width: 100%;
        }
        &:nth-child(8) {
          margin-bottom: 40px;
          max-width: 100%;
        }
      }
    }
    .client-list li:nth-child(5):before {
      display: block;
    }


    .client-list {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      text-align: center;
      width: 654px;
      li {
        &:first-child,
        &:last-child {
          width: 300px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        &:nth-child(2),
        &:nth-child(7) {
          margin-right: 70px;
        }
        &:nth-child(3),
        &:nth-child(8) {
          margin-left: 70px;
        }
        &:nth-child(4) {
          margin-right: 10px;
        }
        &:nth-child(6) {
          margin-left: 10px;
        }
        &:nth-child(5) {
          width: 120px;
          height: 120px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
          border: 5px solid #ffffff;
          background-image: linear-gradient(-45deg, #ff4800 0%, #ffbf00 100%);
          border-radius: 50%;
          margin: -33px 30px;
          position: relative;
          color: #ffffff;
          font-family: "Proxima Nova Bold";
          font-size: 20px;
          font-weight: 700;
          line-height: 5.5;
          text-transform: uppercase;
          &:before {
            content: "";
            background: url('../images/line.png');
            width: 188px;
            height: 256px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }
        color: #757575;
        font-family: "Proxima Nova";
        font-size: 15px;
        font-weight: 400;
        width: 222px;
        height: 60px;
        box-shadow: 0 0 30px rgba(0,
        0,
        0,
        0.1);
        border-radius: 30px;
        background-color: #ffffff;
        text-align: center;
        line-height: 4;
        display: inline-block;
        margin-bottom: 40px;
        vertical-align: top;
        span {
          vertical-align: middle;
          line-height: 20px;
          display: inline-block;
        }
      }
    }

    .free_crm {
      padding: 80px 0;
      text-align: center;
    }

    .free_crm-box {
      h2 {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 35px;
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
      }
      ul {
        width: 414px;
        margin-left: auto;
        margin-right: auto;
        li {
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }

    .free_crm-form {
      max-width: 415px;
      margin: 0 auto;
      padding: 50px 70px;
      h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 20px;
      }
    }

    .zoho_crm {
      padding: 80px 0;
    }

    .zoho_crm-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      margin-bottom: 40px;
    }

    .zoho_crm-info {
      font-size: 20px;
      font-weight: 400;
      line-height: 50px;
      max-width: 100%;
    }

    .zoho_crm-box {
      padding-top: 77px;
      margin-bottom: 30px;
      h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        min-height: 50px;
      }
      p {
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
      }
      &:before {
        display: block;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
      }
    }

    .automation {
      padding: 80px 0;
    }

    .automation-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      margin-bottom: 70px;
    }

    .integration {
      padding: 80px 0;
    }

    .integration-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      margin-bottom: 20px;
      max-width: 100%;
    }

    .integration-info {
      max-width: 290px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }

    .integration-box {
      text-align: left;
    }

    .recommendation {
      padding: 80px 0;
    }

    .recommendation-form {
      max-width: 570px;
      height: 60px;
      border-radius: 30px;
      background-color: #ffffff;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      input {
        background: transparent;
        border: 0;
        color: #898989;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        padding: 24px 40px;
        display: inline-block;
        vertical-align: top;
        width: auto;
      }
      button {
        width: 236px;
        height: 60px;
        border-radius: 30px;
        vertical-align: top;
        float: right;
        margin-top: 0;
        &:before {
          border-radius: 30px;

        }
      }
    }

    .recommendation-title {
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
    }

    .recommendation-info {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      br {
        display: block;
      }
    }

    .clients-carousel.owl-carousel.owl-loaded {
      display: none;
    }

    .clients-list {
      display: block;
    }

    .clients-list .clients-item {
      max-width: 165px;
    }

    .clients-list .clients-item img {
      max-width: 105px;
    }

    .clients {
      padding: 80px 0;
    }

    .clients-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
    }

    .review {
      padding: 80px 0;
      background-size: inherit;
    }

    .review-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
    }

    .review .item,
    .review .owl-item.active.center {
      max-width: 630px;
    }

    .review .item {
      padding: 50px 30px;
    }

    .review .container-fluid {
      padding-right: 0;
    }

    .author {
      padding: 77px 0;
    }

    .author-title {
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      margin-bottom: 50px;
    }

    .author-img {
      img {
        max-width: 120px;
      }
    }

    .author-box {
      max-width: 330px;
      text-align: center;
      margin-left: 20px;
      &.ml0 {
        margin-left: 0;
      }
      ul {
        text-align: left;
      }
    }

    .contacts {
      padding: 80px 0 30px;
      text-align: left;
    }

    .contacts-title {
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
    }
  }
}